<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/jump.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="msg"><%= msg %></div>
            <div id="timeBox"></div>
            <div class="loader"></div>
        </div>
    <script type="text/javascript" src="/javascripts/jump.js"></script>
    </body>
</html>